<div class="links">
  <a
    data-test="link-market-overview"
    class="link"
    routerLink="/"
    queryParamsHandling="preserve"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Market Overview
  </a>
  <a
    data-test="link-liquidity"
    class="link"
    routerLink="/liquidity"
    queryParamsHandling="preserve"
    routerLinkActive="active"
  >
    Liquidity
  </a>
</div>

<div class="limit">
  Limit:
  <label class="label" *ngFor="let value of limits">
    <input
      data-test="limit-radio"
      class="input"
      type="radio"
      (change)="onLimitChange($event.target)"
      [value]="value || null"
      name="currencies-limit"
      [checked]="value === limit"
    />
    {{ value || 'All' }}
  </label>
</div>
